body{
   background-color:White;
}

h1{
    font-family:'Amiri', serif;;
    text-align:center;
    background-color:Yellow;
}

.w3-contentw3-section {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}