<html>
    <head>
<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Inline|Butcherman|Chela+One|Courgette|Creepster|Damion|Eater|Homemade+Apple|Kaushan+Script|Knewave|Leckerli+One|Lobster|Merienda|Mr+Dafoe|Nosifer|Pacifico|Permanent+Marker|Rock+Salt|Sancreek" rel="stylesheet">
<link rel="stylesheet" type="text/css" href= <%=url("css/styleangry.css")%>/>
</head>

<body>
<h1>Anger</h1>




<div class="tips">
<h3 id="tips">Health Tips</h3>
<h5>Under stress? Take a Break!</h5>
<p> Stretch. Scroll around on social media. Take a short walk or jog. Go out with a few friends.</p>
<h5>Seriously ticked off?</h5>
<p> Buy a stress ball.</p>

</div>

<div class="didyouknow">
<h3 id="didyouknow"> Daily Reminders/affirmations</h3>
<h5>Remember to Drink Water. </h5>
<P> Hydration is very important. Make sure that you drink lots of water.</P>
<h5> It's not you it's them</h5>
<p> If they hadn't done whatever you wouldn't be in this postition.</p>
</div>
<div class="music">
<a href="https://open.spotify.com/user/4p0vcb73bez36vhz1emibadn2/playlist/0UNM61yqZh7NbfHTEMKhmz">Songs to soothe your Anger and Pump you </a>
</div>




















</body>
</html>