<html>
<head>
  <link rel="stylesheet" type="text/css" href=<%=url("css/stylehappy.css")%>/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Inline|Butcherman|Chela+One|Courgette|Creepster|Damion|Eater|Homemade+Apple|Kaushan+Script|Knewave|Leckerli+One|Lobster|Merienda|Mr+Dafoe|Nosifer|Pacifico|Permanent+Marker|Rock+Salt|Sancreek" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
     
</head>  
<body>
<h1>Happiness</h1>

<div class = "wrapper">
    

    <div class = "firstborder">
        <h3> "Now and then it’s good to pause in our pursuit of happiness and just be happy."</h3>
        <h6>-Guillaume Apollinaire</h6>
    </div>
    
    <div class = "secondborder">
        <img src = "http://getdrawings.com/image/cartoon-sun-drawing-56.png" width = "330" height = "200"/>
    </div>
    
    <div class = "placeholder"></div>
    <div class= "didyouknow">
       <h1 id = "colorfact"> Did you know?</h1>
        <p>The color <em>yellow</em> has a warming effect that arouses cheerfulness and energy. However, babies cry more in yellow rooms. Yellow also indicates honor and loyalty.</p> 
    </div>
    <div class = "placeholder"></div>
    <div class = "thirdborder">
        <img src = "http://getdrawings.com/image/cartoon-sun-drawing-56.png" width = "330" height = "200"/>
    </div>
    <div class = "tips">
    <h1 id = "behappy"> Be Happy!</h1>
    <ol id = "list">
        <li>Listen to <a href="https://open.spotify.com/user/4p0vcb73bez36vhz1emibadn2/playlist/48RWehFt6vcIMtrbYJ73eD">music!</a></li>
        <li>Exercise</li>
        <li>Watch funny cat videos</li>
        <li>Drink water</li>
    </ol>
  
  
        

</div> 


<!--<a href="https://open.spotify.com/user/4p0vcb73bez36vhz1emibadn2/playlist/48RWehFt6vcIMtrbYJ73eD"> Happy Songs Playlist</a>-->

</body>
</html>