<!--<h1>Your favorite word is <%=@favoritewordlength%> letters long</h1>-->
<!--<h1> Your reversed word is <%=@newword%></h1>-->
<%#hidden message%>




<h1>Test</h1>
<h1>Your mood is <%=@changer%> letters long</h1>