<html>
<head><link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Inline|Butcherman|Chela+One|Courgette|Creepster|Damion|Eater|Homemade+Apple|Kaushan+Script|Knewave|Leckerli+One|Lobster|Merienda|Mr+Dafoe|Nosifer|Pacifico|Permanent+Marker|Rock+Salt|Sancreek" rel="stylesheet">
<link rel="stylesheet" type="text/css" href= <%=url("css/stylesad.css")%>/>
</head>

<body>
<br>
<h1>Sadness</h1>
<br>
<div class="tips">
<h3 id="tips">Health Tips</h3>
<h5>Under stress? Take a Break!</h5>
<p> Stretch. Scroll around on social media. Take a short walk or jog. Go out with a few friends.</p>
</div>
<div class="didyouknow">
<h3 id="didyouknow"> Daily Reminders/affirmations</h3>
<h5>Remember to Drink Water. </h5>
<P> Hydration is very important. Make sure that you drink lots of water.</P>
<h5> You are perfect</h5>
<p> Reminder yourself that you ae trying your hardest. Nothing you do is imperfect. Imperfection isn't real</p>
</div>


<div class="music">
<a id="channel1" href="https://open.spotify.com/user/4p0vcb73bez36vhz1emibadn2/playlist/6etXTNcffMrtLnrZZ0FFiL"> Songs to make you feel better</a>
<br>
<a id="channel2" href="https://open.spotify.com/user/4p0vcb73bez36vhz1emibadn2/playlist/7e8mwEQm5sVqUUAIyUqNG0">Sad songs </a>

</div>
</body>
</html>